.login-form {
    max-width: 400px;
    width: 70%;
}

.login-form-button {
    width: 100%;
}

.transfer-button {
    width: 50%;
}

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 64px;
    background: rgba(0, 0, 0, 0.8);
}

.site-layout .site-layout-background {
    background: #fff;
}
